.sidebar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    display: flex;
    align-items: start;
    justify-content: start;
    backdrop-filter: blur(2px);
}
.sidebar .sidebar-container{
    background-color: white;
    height: 100vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
    flex-direction: column;
}
.sidebar .sidebar-container .header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .sidebar-container .header .logo{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.sidebar .sidebar-container .header .logo img{
    width: 100%;
}
.sidebar .sidebar-container .header .close h5{
    color: rgb(85, 82, 82);
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 500;
}
.sidebar .sidebar-container .middle{
    margin-top: 20px;
    width: 98%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.sidebar .sidebar-container .middle h4{
    font-size: 15px;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.sidebar .sidebar-container .middle h4:hover{
    border-radius: 5px;
    background-color: aliceblue;
}
.sidebar .sidebar-container .middle h4 a{
    color: black;
    text-decoration: none;
}