.contact{
    margin: 0;
    margin-top: 20px;
    width: 100%;
    padding: 0;
}
.contact .contact-main{
    padding: 5px;
    background-color: rgb(4, 41, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact .contact-main h4{
    color: white;
    width: 95%;
    text-align: left;
    margin:0;
    padding: 0;
    padding-top: 10px;
}
.contact .contact-main h3{
    color: white;
    text-align: left;
    width: 95%;
    margin: 0;
    padding-top: 20px;
}
.contact a{
    color: white;
    text-decoration: none;
}
.contact .contact-main .top{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 95%;
    padding: 0;
    margin: 0;
    color: white;
    margin-top: 20px;
}
.contact .contact-main .top .left{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-main .top .left h5{
    margin: 0;
    padding: 0;
    color: rgba(245, 245, 245, 0.5);
}
.contact .contact-main .top .left h6{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
}
.contact .contact-main .top .logo{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-main .top img{
    width:100%;
}
.contact .contact-main .top .right{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-main .top .right h5{
    margin: 0;
    padding: 0;
    color: rgba(245, 245, 245, 0.5);
}
.contact .contact-main .top .right h6{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
}
.contact .contact-main .bottom{
    display: flex;
    align-items: center;
    width: 95%;
    margin-top: 20px;
}
.contact .contact-main .bottom .left{
    display: flex;
    align-items: center;
}
.contact .contact-main .bottom .left h5{
    padding: 0;
    margin: 0;
    margin-left: 5px;
    color: rgba(245, 245, 245, 0.5);
}
.contact .contact-main .bottom .left h6{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: white;
    margin-top: 5px;

}
.contact .contact-main .bottom .left .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.contact .contact-main .bottom .left .logo img{
    width: 100%;
}
h5{
    color: rgb(255, 255, 255);
    text-align: left;
    width: 95%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.contact .contact-main .social-media{
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.contact .contact-main .social-media .icon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.contact .contact-main .social-media .icon img{
    width: 100%;
    border-radius: 50%;
}
.contact .contact-main h4{
    margin-bottom: 20px;
}
.contact .contact-main h6{
    color: white;
    width: 95%;
    margin-top: 10px;
}